/* 
  Copyright © 2018 danyadev
  Лицензия - Apache 2.0

  Контактные данные:
   vk: https://vk.com/danyadev
   или https://vk.com/danyadev0
   telegram: https://t.me/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

.group_list { padding: 10px }

.group_list_err {
  padding: 10px;
  margin-top: -20px;
}

.group_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}

.group_names {
  float: left;
  width: calc(100% - 92px);
}

.group_name, .group_type, .group_subs {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: -webkit-fill-available;
}

.group_name {
  color: #2a5885;
  cursor: pointer;
}

.group_type, .group_subs {
  color: #656565;
}
