/*
  Copyright © 2018 danyadev
  Лицензия - Apache 2.0

  Контактные данные:
   vk: https://vk.com/danyadev
   или https://vk.com/danyadev0
   telegram: https://t.me/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

.news_list { padding: 10px }

.news_list_err {
  padding: 10px;
  margin-top: -20px;
}

.post_header {
  padding: 10px 6px 6px 10px;
  height: 60px;
}

.post_header_img {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  -webkit-user-drag: none;
  user-select: none;
}

.post_names {
  padding-top: 4px;
}

.post_name, .post_time {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post_name {
  color: #2a5885;
  cursor: pointer;
}

.post_time {
  color: #656565;
  padding-top: 2px;
  font-weight: normal;
}

.post_content {
  padding: 10px 10px 8px;
}

.post_img {
  max-width: 100%;
  max-height: 300px;
  -webkit-user-drag: none;
}

.post_signer {
  display: inline-block;
  padding: 0 0 0 15px;
  margin: 5px 0;
  background: url('../images/post_sign.svg') no-repeat;
  background-position: left 3px;
  line-height: 15px;
  color: #2a5885;
  cursor: pointer;
}

.post_bottom {
  margin: 0 10px;
  padding-top: 7px;
  border-top: 1px solid #e7e8ec;
  height: 35px;
  user-select: none;
  cursor: default;
}

.post_like_img, .post_comment_img, .post_repost_img, .post_views_img {
  float: left;
  width: 24px;
  height: 24px;
  -webkit-mask-size: cover;
  background-color: #bdbdbd;
}

.post_like_count, .post_comment_count, .post_repost_count {
  color: #7f7f7f;
  float: left;
  padding-left: 5px;
  padding-top: 2px;
  font-weight: 500;
}

.post_like {
  display: inline-block;
  cursor: pointer;
}

.post_like_img {
  -webkit-mask-image: url('../images/post_like.png');
}

.post_comment {
  display: inline-block;
  cursor: pointer;
  margin-left: 50px;
}

.post_comment_img {
  -webkit-mask-image: url('../images/post_comment.png');
}

.post_repost {
  display: inline-block;
  cursor: pointer;
  margin-left: 50px;
}

.post_repost_img {
  -webkit-mask-image: url('../images/post_repost.png');
}

.post_views {
  float: right;
}

.post_views_img {
  -webkit-mask-image: url('../images/post_views.png');
}

.post_views_count {
  margin-left: 4px;
  float: right;
  line-height: 16px;
  height: 16px;
  color: #7f7f7f;
  position: relative;
  top: 4px;
  font-weight: 500;
}

.post_btn_act_i { background-color: #5683C3 }
.post_btn_act_c { color: #5683C3 }

.emoji {
  margin: 0 1px;
  vertical-align: -3px;
  width: 16px;
  height: 16px;
  background: url('https://vk.com/images/im_emoji.png') no-repeat;
}
