/*
  Copyright © 2018 danyadev
  Лицензия - Apache 2.0

  Контактные данные:
   vk: https://vk.com/danyadev
   или https://vk.com/danyadev0
   telegram: https://t.me/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

img {
  -webkit-user-drag: none;
  user-select: none;
}

.window_header {
  width: 100%;
  height: 32px;
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #507299;
  user-select: none;
  transition: background-color .3s;
}

.window_header_drag {
  position: absolute;
  width: calc(100% - 4px - 144px);
  height: 27px;
  margin: 4px 0 0 4px;
  -webkit-app-region: drag;
}

.window_header_name {
  color: #fff;
  float: left;
  line-height: 32px;
  padding-left: 14px;
}

.window_header_buttons {
  float: right;
  font-size: 0;
}

.window_header_button {
  display: inline-block;
  width: 48px;
  height: 32px;
  background: no-repeat center center;
  margin: 0;
  z-index: 10;
  transition: .2s background-color;
}

.window_header_button.minimize::before,
.window_header_button.maximize::before,
.window_header_button.restore::before,
.window_header_button.close::before {
  content: '';
  display: block;
  width: 48px;
  height: 32px;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  background-color: #fff;
}

.window_header_button.minimize::before { -webkit-mask-image: url('../images/minimize.svg') }
.window_header_button.maximize::before { -webkit-mask-image: url('../images/maximize.svg') }
.window_header_button.restore::before { -webkit-mask-image: url('../images/restore.svg') }
.window_header_button.close::before { -webkit-mask-image: url('../images/close_window.svg') }

.window_header_button:hover { background-color: rgba(0, 0, 0, 0.2) }
.window_header_button:active { background-color: rgba(0, 0, 0, 0.25) }

.window_header_button.close:hover { background-color: #EB0716 }
.window_header_button.close:active { background-color: #DE000F }

input::placeholder {
  color: #939699;
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: rgba(143, 143, 143, 0.7);
}

.input {
  width: 250px;
  outline: none;
  border: 1px solid #d2d8de;
  border-radius: 3px;
  font-size: 15px;
  color: #3c3c3c;
  background-color: #fff;
  line-height: 32px;
  padding: 0 9px;
  transition: border-color .3s, color .3s, background-color .3s;
}

.input:disabled { color: #999 }
.input:hover { border: 1px solid #a2a5a8 }
.input:focus { border: 1px solid #7e7f7f }

.button {
  width: 250px;
  outline: none;
  font-size: 15px;
  line-height: 32px;
  padding: 0 9px;
  background-color: #5181b8;
  color: white;
  border-radius: 3px;
  border: none;
  user-select: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .26);
  transition: opacity .3s, background-color .3s;
}

.button:not(:disabled) { cursor: pointer }
.button:not(:disabled):hover { background-color: #638bba }
.button:not(:disabled):active { background-color: #4e7bac }
.button:disabled { opacity: .5 }

.block {
  min-width: 410px;
  max-width: 600px;
  background-color: white;
  margin: 0 auto 10px auto;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.block.mini { min-height: 80px }

.item_err {
  width: 230px;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
}

.no_inet_btn {
  width: 150px;
  background-color: #e5ebf1;
  color: #55677d;
  margin: 10px auto 0 auto;
  padding: 7px 16px 8px;
  font-size: 12.5px;
  cursor: pointer;
  user-select: none;
  line-height: 15px;
  text-align: center;
  border-radius: 4px;
}

.link {
  display: inline-block;
  color: #2a5885;
  cursor: pointer;
  user-select: none;
  transition: color .3s;
}

.link:hover { text-decoration: underline }

.img_verified {
  width: 16px;
  height: 16px;
  margin: 0 0 2px 3px;
  vertical-align: middle;
}

.header {
  width: 100%;
  height: 44px;
  position: fixed;
  top: 32px;
  background-color: #4a76a8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-left: 1px solid #507299;
  border-right: 1px solid #507299;
  transition: background-color .3s, box-shadow .3s, border .3s;
}

.open_menu {
  width: 44px;
  height: 44px;
  position: relative;
  cursor: pointer;
  transition: background-color .3s;
}

.open_menu:hover { background-color: #3f638c }

.open_menu_icon,
.open_menu_icon::before,
.open_menu_icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.open_menu_icon::before,
.open_menu_icon::after {
  content: '';
}

.open_menu_icon::before { transform: translateY(-5px) }
.open_menu_icon::after { transform: translateY(5px) }

.menu {
  position: fixed;
  top: 32px;
  transform: translateX(-260px);
  width: 250px;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform .4s, background-color .3s;
}

.menu_list {
  height: calc(100vh - 125px);
  background-color: white;
  overflow: auto;
}

.menu_item {
  height: 44px;
  padding-top: 10px;
  cursor: pointer;
  transition: background-color .3s;
}

.menu_item_active { transition: background-color .3s }

.menu_item:hover, .menu_item_active:not(.menu_account_item) {
  background-color: #ebeced;
}

.menu_icon {
  width: 24px;
  height: 22px;
  margin-left: 10px;
  background-color: #a6a6a6;
  -webkit-mask-size: cover;
}

.menu_news_icon     { -webkit-mask-image: url('../images/menu_news.png')          }
.menu_mess_icon     { -webkit-mask-image: url('../images/menu_messages.png')      }
.menu_music_icon    { -webkit-mask-image: url('../images/menu_music.png')         }
.menu_notify_icon   { -webkit-mask-image: url('../images/menu_notifications.png') }
.menu_friends_icon  { -webkit-mask-image: url('../images/menu_friends.png')       }
.menu_groups_icon   { -webkit-mask-image: url('../images/menu_groups.png')        }
.menu_photos_icon   { -webkit-mask-image: url('../images/menu_photos.png')        }
.menu_videos_icon   { -webkit-mask-image: url('../images/menu_videos.png')        }
.menu_settings_icon { -webkit-mask-image: url('../images/menu_settings.png')      }

.menu_icon, .menu_item_name { float: left }

.menu_item_name {
  margin: 1px 0 0 10px;
  user-select: none;
  transition: color .3s;
}

.menu_account_item {
  width: 250px;
  height: 125px;
  padding: 8px 10px 0 12px;
  background-color: rgba(38, 37, 37, 0.5);
}

.menu_account_bgc {
  width: 260px;
  height: 135px;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 0 -60px;
  background-size: 100%;
  filter: blur(4px);
}

.menu_multiacc {
  width: 24px;
  height: 22px;
  position: absolute;
  right: 10px;
  background-color: white;
  -webkit-mask-size: cover;
  -webkit-mask-image: url('../images/menu_groups.png');
  cursor: pointer;
}

.acc_icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: 100%;
  cursor: pointer;
}

.menu_acc_name, .menu_acc_status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu_acc_name {
  margin-top: 12px;
  color: #fff;
}

.menu_acc_status {
  font-size: 13px;
  color: #d9d9d9;
}

.update_item {
  width: 250px;
  position: fixed;
  bottom: 0;
  padding-top: 12px;
  background-color: #4a76a8;
  color: #eee;
}

.update_item:hover {
  background-color: #3f6999 !important;
}

.update_item:active {
  background-color: #325c8c !important;
}

.update_item div {
  float: none;
  text-align: center;
  margin: 0;
}

.content {
  height: calc(100vh - 76px);
  margin-top: 76px;
  background: #f2f2f2;
  border: 1px solid #507299;
  border-top: none;
  overflow: auto;
  transition: background-color .3s, color .3s, border .3s;
}

.content::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 32px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .2s, visibility .2s;
}

.content_hide::after {
  opacity: 1;
  visibility: visible;
}

.tab_content { display: none }
.content_active { display: block }
